asgiref==3.6.0
Django==4.1.7
pytz==2020.1
sqlparse==0.3.1
php-wsgi
pyyaml==5.1
django-crispy-forms==1.12.0
gunicorn
django-heroku==0.3.1
whitenoise
django-allauth==0.52.0
Jinja2==2.7.2
python-etcd==0.4.5
urllib3==1.26.9
